body{
  font-family: opensans;
}

header{
  background-color: #F26D7D;
  height: 50px;

}

header img{
  margin: 0px auto;
  width: 229px;
  height: 29px;
  display: block;
  padding-top: 13px;
}
header p{
  font-size: 20px;
  float: left;
  display: none;
}
