body{
  font-family: opensans;
  background-color: white;
}

/*WRAPPER*/
.wrapper{
  
}

/*HEADER*/

header{
  background-color: #F26D7D;
  height: 50px;

}

header img{
  margin: 0px auto;
  width: 229px;
  height: 29px;
  display: block;
  padding-top: 13px;
}
.logo{
  background-image: src="../images/layout3-mobil.png"
}

.content{
  /*dev*/ min-height: 200px;
  background-color: rgba(0, 255, 0, .1)


}

.sidebar{
  /*dev*/ min-height: 200px;
  background-color: rgba(255, 0, 0, .1)

}

.footer{
  background-color: #F8B6BE;
  heigh: 85px;
}

@media screen and (min-width: 978px){
  .header{
    background: none;
    }

  .wrapper{
    margin: 0 auto;
    width: 978px
  }



}
