/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

body{
  font-family: opensans;
  background-color: white;
}

/*WRAPPER*/
.wrapper{

}

/*HEADER*/

.header{


}

/*header img{
  margin: 0px auto;
  width: 229px;
  height: 29px;
  display: block;
  padding-top: 13px;}*/

.logo{
  margin: 0;
  background-color: #F26D7D;

}

.logo a{
  background-image:url("../images/logo.jpg");
  background-repeat: no-repeat;
  display:BLOCK;
  height: 50px;
  white-space:nowrap;
  width: 260px;
  overflow: hidden;
  text-indent: 150%;
  margin: 0 auto;

}

.phone{
  height: 35px;
  margin: 15px 20px;
  /*dev*/ background-color: rgba(0, 255, 0, .1);
  /*dev*/ min-height: 30px;
}

.content{
  /*dev*/ min-height: 200px;
  background-color: rgba(0, 255, 0, .1)
}

.menu{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 50px;
  width: 50px;
  background-color: purple;
}

.facebook{
  display: none;
}

.sidebar{
  /*dev*/ min-height: 200px;
  background-color: rgba(255, 0, 0, .1)

}

.footer{
  background-color: #F8B6BE;
  heigh: 85px;
}


/*COMMON ELEMENTS*/

.clearfix{

}


@media screen and (min-width: 978px){
  .header{
    background: none;
    height: 195px
    }

    .logo{
    background: none;
    margin: 20px 0 30px;
    width: 470px;
    padding: 20px;
    float: left;
    }

  .logo a{
    background-image:url("../images/layout3-toll.png");
    background-repeat: no-repeat;
    width: 470px;
    height: 58px;

  }



  .phone{
    float: right;
  }

  .wrapper{
    margin: 0 auto;
    width: 978px
  }

  .content{
    float: left;
    width: 602px;
  }

  .sidebar{
    float:right;
    width: 286px;

  }
  .columns{
    background-color: #fff;
    padding: 30px;
  }

  .columns:after {

  }

  .footer{
    height: auto;
    heigh: 55px;
    margin: 30px 0;
  }

}
