/*C F*/

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


h1{
  font-size: 36px;
  color: #281302;
  font-family: 'Noticia Text', serif;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 50px;
}

html, body {
  margin:0;padding:0;height:100%;
  }
  
/*M E N U*/

.menu{
  height: 50px;
  background-color: white;
  opacity: .9;
  width: 100%;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  z-index: 10;
}

.menu ul{
  position: relative;
  right: 0;
  float: right;
}

.menu .logo{
  float: left;
  background: url(../images/logo.jpg) 0 0 no-repeat;
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
  width: 137px;
  height: 44px;
}

.menu li{

  font-family: 'Noticia Text', serif;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  float: left;
  line-height: 4;
  display: block;
  margin-left: 30px;
}

.menu ul a{
  text-decoration: none;
  color: #281302;
}

.menu ul a:hover{
  color: #AB3F00;
}

/*W E L C O M E*/

#welcome{
  background: url(../images/welcome_back.jpg) center center, no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.container{
  width: 960px;
  margin: 0 auto;
}

#welcome .container p{
  text-align: center;
  color: white;
  font-family: 'Noticia Text', serif;
  font-size: 24px;
  font-style: italic;
  line-height: 1.3;
  padding-top: 75%;
}

/*C O F E E */

#coffee{
  background: url(../images/cofee_back.jpg) 0 0, repeat;
  width: 100%;
  /*height: 1000px;*/
}

#coffee .items{
  max-width: 960px;
}

#coffee .item{
  background: url(../images/item_pic_choco.jpg) 0 0, no-repeat;
  background-position: bottom;
  height: 200px;
  width: 200px;
  background-color: black;
  float:left;
  margin: 0 53px 53px 0;
  display: block;
  position: relative;
}

#coffee .items .item:nth-child(4n+4){
  margin-right: 0;
}

#coffee .item h3{
  display: block;
  height: 45px;
  font-size: 18;
  font-family: 'Noticia Text', serif;
  color: white;
  background-color: #6F3E15;
  text-align: center;
  line-height: 2.4;
}

#coffee .item .price{
  position: absolute;
  bottom:0;
  width: 100%;
  border-top: white solid 1px;
  display: none;
}

#coffee .item p{
  color: white;
  text-align: center;
  font-family: 'Noticia Text', serif;
  font-style: italic;
  font-size: 12px;
  line-height: 1.3;
  padding: 20px;
  height: 110px;
  display: none;
}

#coffee .items .item a{
  display: block;
  width: 200px;
  height: 200px;
  text-decoration: none;
}

#coffee .items a:hover .item{
  background-color: #281302;
  background-image: none;

}
#coffee .items a:hover p{
  display: block;
  background-color: #281302;
}

#coffee .items a:hover h3{
  display: block;
  background-color: #281302;
  border-bottom: white solid 1px;
}



#coffee .items_header{
  margin: 15px 0;
}

#coffee .items_header h2{
  font-family: 'Noticia Text', serif;
  color: #793D0D;
  font-size: 16px;
  float: left;
}

#coffee .items_header .lines{
  width: 93%;
  border-top: solid 1px #793D0D;
  border-bottom: solid 1px #793D0D;
  height: 5px;
  float: right;
  clear: both;
  position: relative;
  top: -10px;
}

/*ABOUT*/

#about{
  height: 800px;
  background: #703E15;
  background-position: center;
  position: relative;

}

#about .back{
  background: url(../images/about_back.jpg);
  background-repeat: no-repeat;
  background-position: center 50px;
  height: 800px;

}


#about .container{
  position: relative;
  top: -800px;
}

#about h1{
  color: white;
}

#about p{
  font-family: 'Noticia Text', serif;
  font-style: italic;
  font-size: 14px;
  color: white;
  max-width: 465px;
  margin: 0 auto;
  padding: 40px 0;
  line-height: 2;
  text-align: center;
}

#about .portrait{
  background: url(../images/paljoc_portrait.jpg) center center no-repeat;
  border-radius: 100px;
  border: solid 2px white;
  width: 115px;
  height: 115px;
  margin: 0 auto;
}

/*O R D E R*/

#order{
  background: url(../images/cofee_back.jpg) 0 0, repeat;
  width: 100%;
  height: 800px;
}
 #order .order_picture{
  background: url(../images/paljoc_pack.png) 0 0, no-repeat;
  background-position: bottom;
  height: 208px;
  width: 323px;
  margin: 60px auto;
 }

 #order p{
  font-family: 'Noticia Text', serif;
  color: #793D0D;
  font-size: 18px;
  text-align: center;
 }

#order .contact{
  margin: 30px auto;
  max-width: 700px;
}


 #order address{
  font-family: 'Noticia Text', serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 3px solid #793D0D;
  width: 310px;
  height: 80px;
  display: block;
  float: left;
  margin:0 15px;
  line-height: 4;
}

#order address a{
  text-decoration: none;
  color: #793D0D;
  display: block;
  width: 310px;
  height: 80px;

}

#order address:hover{
  background-color: #793D0D;
}

#order address:hover a{
  color: white;
  }
