/*WEBFONT*/
@font-face{
	font-family: 'socialico-webfont';
	src: url('../font/socialico-webfont.eot');
	src: url('../font/socialico-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../font/socialico-webfont.woff') format('woff'),
	     url('../font/Wsocialico-webfont.ttf') format('truetype'),
	     url('../font/socialico-webfont.svg#webfont') format('svg');
}

/*LAYOUT*/



body{
  font-family: arial;
  background-color: #E4E4E4;

}

/*HEADER*/

header{
  background-color: #898989;
  height: 130px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.headwrapper{
  max-width: 1000px;
  margin: 0 auto;
  color: white;
  font-size: 36px;
}

.headwrapper h1{
  padding-top: 50px;
}

.hamburger{
	display: none;
}

/*MENU*/

.menu{
  width: 100%;
  height: 40px;
  margin: 0 auto;
  display: block;
  background-color: #AAAAAA;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}

.menucontainer{
	max-width: 1000px;
	margin: 0 auto;
}

.menu ul{
  /*width: 350px;*/
  height: 40px;
  background-color: #AAAAAA;
  margin: 0 auto;
	float: left;

}

.menu li{
  display: block;
  float: left;
  height: 40px;
  line-height: 2;
  /*margin-right: -5px;*/
  border-left: solid 1px gray;
  font-size: 20px;
  color: white;
  box-sizing: border-box;
}

.menu li a {
  height: 40px;
  display: block;
  padding: 0 10px 0 10px;
}


.utolso:last-child {
  border-right: solid 1px gray;

  }

.menu a:hover{
    background-color: white;
    color: black
  }

.menu .social a{
	box-sizing: border-box;
  font-family: socialico-webfont;
  font-size: 40px;
  display: block;
  float: left;
  line-height: 1;
  color: black;
  text-align:right;
  margin-right: 5px;
  text-decoration: none;
}

.menu .social a:last-child{
 margin-right: -5px;
 padding-right: 0px;
}


.menu .social{
	float: right;
	padding-right: 20px;
}



.menu .social a:hover{
  color: #667A9D;
  background-color: #AAAAAA;
}



/*MAIN*/

main{
  max-width: 1000px;
  background-color: white;
  margin: 0 auto;
  padding: 40px 20px 80px 20px;
  box-sizing: border-box;
}

aside{
	box-sizing: border-box;
  background-color: #E9EBF4;
  width: 30%;
	height: 776px;
  /*margin-right: -280px;*/
  float: left;
  position: relative;
}

.content{
	box-sizing: border-box;
  max-width: 70%;

  float: left;
  /*border-left: 280px solid #E9EBF4;*/
  padding: 0 30px 0 30px;
}

.content h1{
  font-size: 24px;
  font-weight: bold;
}

.content p{
  margin-bottom: 20px;
  line-height: 1.2;
  display:block;

}

.content article img{
  float: right;
  margin: 21px;
  clear:both;
  margin: 20px 0 15px 15px;
  border: 5px solid #E9EBF4;
}

article{
  margin-bottom: 0px;
  border-bottom: solid 1px #E9EBF4;
  padding-bottom: 20px;
}

.subtitle{
  margin: 5px 0 20px 0;
  color: #667A9D;
}

.subtitle a{
  text-decoration: none;
}
.subtitle a:hover{
  color: black;
}


date{
  color: #898989;
  }

/*.content:after {
    clear:both;
}*/

.footer ul{
  padding-left: 310px;

  }

.footer li{
  display: block;
  box-sizing: border-box;
  width: 130px;
  /*margin-right: 360px;*/
  margin-top: 20px;
  line-height: 1.1;
  /*width:101px;
  height:25px,*/
  background-color:#ECECEC;
  color: #767676;
  border-radius:3px;
  text-align: center;
}

.elozo{
	float: left;
	}

.kov{
	float: right;
}

.footer a{
  box-sizing: border-box;
  text-decoration: none;
  color: #767676;
  display: block;
  width: 130px;
  padding: 10px 20px;
}

.footer a:hover{
  background-color:#E3E5EF;
  color: black;
}


.footer li:last-child{
  margin-right: 0;
}

.kov,
.elozo{
}


.komment{
  width: 131px;
  height: 25px;
  border-radius: 2px;
  background-color: #E9EBF4;
  padding: 5px 5px 5px 25px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
  background-image: url('../images/komment.png');
  background-repeat: no-repeat;
  background-position: 5px 7px;
  color: #667A9D;
}



.footer:before{
	clear:	both;
	content: ".";
}


/*ASIDE*/

aside{
  padding: 10px;
  line-height: 1.4 ;
}

aside a{
  color: #8A99B6;
}

aside ul,
aside p{
  margin-bottom: 40px;
}

aside h1{
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: bold;
}

aside p{
  line-height: 1.2;
  margin-bottom: 15px;
}


/*800*/

@media (max-width: 800px){
	  aside {
	    display: none;
	  }

	  .content {
	  border: 0 solid white;
		max-width: 100%;

	  }
		.menu ul{
			margin-left: 45px;
			width: auto;
		}

		main{
			width: auto;
		}

		body{
			background-color: white;
		}

		.menu .social {
  	width: auto;
  	padding-left: 0;
	}

		article{
			margin-bottom: 50px;
		}

		.footer ul{
			padding-left: 30px;
		}

		section{
			width: 100%;
		}

}

@media (max-width: 600px){
		.menu li{
			border: none;
			font-size: 16px;
			line-height: 2.8;
			margin-right: 7px;
		}

		.menu ul{
			margin-left: 20px;
		}

		.menu .utolso{
			border-right: solid 0px gray;
		}
		.menu .social a{
			font-size: 200%;
			line-height: 1.4;
			margin-left: 5px;
		}

		.headwrapper h1 {
		  margin-left: 30px;
		}


		main{
			padding: 40px 20px 20px 0px;
		}

		.content h1{
			font-size: 44px;
		}

		.content p{
			font-size: 18px;
			line-height: 1.4;
		}

}

@media (max-width: 480px){

	.headwrapper{
				display: block;
  	float: left;
	}

	.hamburger{
		display: block;
		float: right;
		padding: 40px 30px 0 0;
		font-size: 66px;
		}

		.menu{
			display: none;
		}

		header{
			height: 160px;
		}
